@font-face {
    font-family: 'cinzel'; /*a name to be used later*/
    src: url('fonts/Cinzel-Regular.ttf'); /*URL to font*/
}
body {
	margin: 0;
	padding: 0;
}
.header {
  background-color: rgba(230, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  z-index: 3;
  
}/* CSS Document */

.banner{
	width:100%;
	margin: 0;
	padding: 0;
	border: 0;
}
.happyhour{
	width: 100%;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}
.links {
	display: inline-block;
	text-align: center;
	padding: 28px 14px;
	vertical-align: top;
	float: right;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'cinzel';
	font-weight: 700;
	color: #005596;
}

.logo1 {
	display: inline-block;
	vertical-align: top;
	width: 170px;
	height: auto;
	float:left;
	margin-left:10px;
	padding-bottom:10px;
	padding-top:5px;
}
.message{
	width: 80%;
	margin:0px auto;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	font-family: 'cinzel';
	font-weight: 700;
	color: #005596;
	height: 600px;
	line-height: 200%;
}
.ban1{
	display: inline-block;
	width:60px;
	margin-left: 10px;
	margin-right: 10px;
}
hr{
	margin-bottom: 28px;
	display: inline-block;
	border-top: 3px solid #005596;
	width:40%;
}
.msgbody{
	width: 80%;
	text-align: center;
	margin: auto;
	
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #005596;
  color: white;
  text-align: center;
}
.fblogo{
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	padding-left: 50px;
	padding-top: 15px;
	margin-top: 0px;
	opacity: 0.7;
}
.iglogo{
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 0px;
	opacity: 0.7;
}

.ftlink{
	display: inline-block;
	padding-top: 15px;
	padding-left: 15px;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'cinzel';
	font-weight: 400;
	color: white;
}
.order{
	margin-top: 8px;
	margin-right:10px;
	float: right;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 2px;
	font-family: 'cinzel';
	font-weight: 400;
	color: white;
	border: 2px solid white;
}